<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Home Page</h1>
      <form method="post" action="/dashboard?_method=put">
        <p>
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" value="<%- title %>">
        </p>
        <p>
          <label for="homepage_content">Homepage Content (markdown):</label>
          <textarea id="homepage_content" name="homepage_content"><%- homepage_content %></textarea>
        </p>
        <p>
          <label for="meta_description">Meta description:</label>
          <textarea name="meta_description" rows="2" id="id_meta_description"><%- meta_description %></textarea>
        </p>
        <input type="submit" value="Save">
      </form>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>