<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container" onload="
countCharactersInTextView(document.getElementById('content'), 
document.getElementById('idCharCount'),
document.getElementById('idTitle'))">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <content>

      <h1>
        <%- locals.post ? 'Edit Post' : 'New Post' %>
      </h1>

      <form enctype="multipart/form-data" method="POST" action="/dashboard/posts/<%- locals.post ? `${post.id}?_method=PUT` : 'new' %>">
        <input accept="image/*" type="file" name="media_files" multiple="multiple" id='idMedia' style="display: none;" onchange="showSelectedImage(
          this,
          document.getElementById('idMediaPreview'))">        

        <p class="<%- locals.post && locals.post.title ? '' : 'u-hidden' %>" id="idTitle">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" value="<%- locals.post ? locals.post.title : '' %>">
        </p>

        <p>
          <label for="content">Content (markdown): <span class="helptext"><a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Markdown
            reference</a></span></label>
          <textarea id="content" name="content" rows="10"><%- locals.post ? locals.post.content : '' %></textarea>
          
          <!-- Meta Under post-->
          <div class=="container">
            <div class="row">
              <div class="col-6">
                <span id="idCharCount"><%- locals.post ? locals.post.content.length : 0 %></span>&nbsp;          
              </div>
              <div class="col-6">
                <span class="u-float-right">
                  <button type="button" onclick="document.getElementById('idMedia').click();return false;">                  
                    Upload               
                  </button>
                  
                  <button type="submit" class="btn btn-primary">
                    <%- locals.post ? 'Update' : 'Post' %>
                  </button>              
              </div>
            </div>
          </div>


          <div id="idMediaPreview" class="<%- locals.post && locals.post.media ? '' : 'u-hidden'; %>">
            <% if(locals.post && locals.post.media){ %>
              <% for(let media of post.media){ %>
                <img src="<%- blog.url %>/<%- media.path %>" alt="<%- media.name %>">
              <% } %>
            <% } %>
          </div>
        </p>
        

        <details>
          <summary>Post Meta</summary>
          <p>
            <label for="published_date">Date:</label>
            <input type="date" id="published_date" name="published_date"
              value="<%- locals.post ? locals.post.published_date_formatted_picker : '' %>">
            <span class="helptext">eg: '2022-03-10' (leave empty to post now)</span>
          </p>

          <p>
            <label for="tags">Tags:</label>
            <input type="text" id="tags" name="tags" value="<%- locals.post ? locals.post.tags : '' %>">
            <span class="helptext">A comma-separated list of tags</span>
          </p>

          <p>
            <label for="permalink">Permalink:</label>
            <input type="text" id="permalink" name="permalink" value="<%- locals.post ? locals.post.permalink : '' %>">
          </p>

          <p>
            <label for="permalink">Meta Description:</label>
            <input type="text" id="meta_description" name="meta_description"
              value="<%- locals.post ? locals.post.meta_description : '' %>">
          </p>

          <p>
            <label for="permalink">Meta Image URL:</label>
            <input type="text" id="meta_image_url" name="meta_image_url"
              value="<%- locals.post ? locals.post.meta_image_url : '' %>">
          </p>

          <p>
            <label for="is_page">Is Page:</label>
            <input type="checkbox" id="is_page" name="is_page" value="true" <%- (locals.post && locals.post.is_page)
              ? 'checked' : '' %>>
          </p>

          <p>
            <label for="show_in_feed">Show In Feed:</label>
            <input type="checkbox" id="show_in_feed" name="show_in_feed" value="true" <%- (locals.post &&
              !locals.post.show_in_feed) ? '' : 'checked' %>>
          </p>
          <p>
            <label for="draft">Draft:</label>
            <input type="checkbox" <%- (locals.post && !locals.post.published) ? 'checked' : '' %> 
              onChange="if(this.checked) {
                document.getElementById('published').value = 'false';
              } else {
                document.getElementById('published').value = 'true';
              }">                            
          </p>
        </details>

        <input type="hidden" name="published" id="published" value="true">

        <p>
          <!-- <button type="submit" id="idButtonPost">Post</button> -->
          <!-- <button type="submit" onclick="document.getElementById('published').value = true;">Post</button> -->
          <!-- <button type="submit" onclick="document.getElementById('published').value = false;">
            <%- locals.post && locals.post.published ? "Unpublish" : "Save as draft" %>
          </button> -->
        </p>
      </form>

      <% if(locals.post) { %>
        <p>
        <form method="post" action="/dashboard/posts/<%- locals.post.id %>?_method=DELETE" name="form-delete"
          id="form-delete">
          <a href="<%- locals.post.url %>" target="_blank">View post</a> | 
          <a class="text-danger" href="# " onclick="return confirm( 'Are you sure you want to delete this post?') ? 
            document.getElementById('form-delete').submit() : false;">Delete</a>
        </form>
        </p>
        <% } %>

    </content>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>