<% 
  const truncate = (str, len) => {
    if (str.length > len) {
      return str.substring(0, len) + '...';
    }
    return str;
  }
%>

<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <content>
      <h1>Posts</h1>            
        <% posts.forEach(post => { %>
          <p>                      
            <a href="/dashboard/posts/<%- post.id %>/">
              <time datetime="<%- post.published_date %>"><%- post.published_date_formatted %></time>
            </a>      
            <% if(!post.published) { %>
              <span>[draft]</span>
            <% } %>
            <% if(post.is_page) { %>
              <span>[page]</span>
            <% } %>
            <% if(post.is_note) { %>
              <span><%- truncate(post.content_text, 92) %></span>
            <% } else { %>              
              <span><b><%- truncate(post.title, 45) %></b></span>
            <% } %>    
          </p>
          <% }); %>
      
    </content>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>