<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <content>
      <h1>Posts</h1>
      <a href="/dashboard/posts/new">New post</a>
      <ul>
        <% posts.forEach(post => { %>
          <li>
            <span>
              <i><time><%- post.published_date_formatted %></time></i>
            </span>
            <a href="/dashboard/posts/<%- post.id %>">
              <%- post.is_page ? '[Page] ' : '' %>
                <%- post.title || post.content_text.substring(0,50) %>
            </a>
            <% if (!post.published) { %>
              <small>(not published)</small>
              <% } %>
          </li>
          <% }); %>
      </ul>
    </content>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>