<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container" onload="
countCharactersInTextView(document.getElementById('content'), 
document.getElementById('idCharCount'),
document.getElementById('idTitle'))">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <content>

      <h1>
        <%- locals.post ? 'Edit Post' : 'New Post' %>
      </h1>

      <form enctype="multipart/form-data" method="POST" action="/dashboard/posts/<%- locals.post ? `${post.id}?_method=PUT` : 'new' %>">
        <input accept="image/*" type="file" name="media_files" multiple="multiple" id='idMedia' style="display: none;" onchange="showSelectedImage(
          this,
          document.getElementById('idMediaPreview'))">        

        <p class="<%- locals.post && locals.post.title ? '' : 'hidden' %>" id="idTitle">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" value="<%- locals.post ? locals.post.title : '' %>">
        </p>

        <p>
          <label for="content">Content (markdown):</label>
          <textarea id="content" name="content" rows="10"><%- locals.post ? locals.post.content : '' %></textarea>
          <span id="idCharCount"><%- locals.post ? locals.post.content.length : 0 %></span>&nbsp;
          <span class="helptext"><a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Markdown
              reference</a></span>
          <!-- Show character count-->
          <button type="button" onclick="document.getElementById('idMedia').click();return false;">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve" width="20" height="20">
            
                <path d="M308.1,277.95c0,35.7-28.9,64.6-64.6,64.6s-64.6-28.9-64.6-64.6s28.9-64.6,64.6-64.6S308.1,242.25,308.1,277.95z
                  M440.3,116.05c25.8,0,46.7,20.9,46.7,46.7v122.4v103.8c0,27.5-22.3,49.8-49.8,49.8H49.8c-27.5,0-49.8-22.3-49.8-49.8v-103.9
                  v-122.3l0,0c0-25.8,20.9-46.7,46.7-46.7h93.4l4.4-18.6c6.7-28.8,32.4-49.2,62-49.2h74.1c29.6,0,55.3,20.4,62,49.2l4.3,18.6H440.3z
                  M97.4,183.45c0-12.9-10.5-23.4-23.4-23.4c-13,0-23.5,10.5-23.5,23.4s10.5,23.4,23.4,23.4C86.9,206.95,97.4,196.45,97.4,183.45z
                  M358.7,277.95c0-63.6-51.6-115.2-115.2-115.2s-115.2,51.6-115.2,115.2s51.6,115.2,115.2,115.2S358.7,341.55,358.7,277.95z"/>            
            </svg>
            Upload
          </button>
          <div id="idMediaPreview" class="hidden"></div>
        </p>

        <details>
          <summary>Post Meta</summary>
          <p>
            <label for="published_date">Date:</label>
            <input type="date" id="published_date" name="published_date"
              value="<%- locals.post ? locals.post.published_date_formatted_picker : '' %>">
            <span class="helptext">eg: '2022-03-10' (leave empty to post now)</span>
          </p>

          <p>
            <label for="tags">Tags:</label>
            <input type="text" id="tags" name="tags" value="<%- locals.post ? locals.post.tags : '' %>">
            <span class="helptext">A comma-separated list of tags</span>
          </p>

          <p>
            <label for="permalink">Permalink:</label>
            <input type="text" id="permalink" name="permalink" value="<%- locals.post ? locals.post.permalink : '' %>">
          </p>

          <p>
            <label for="permalink">Meta Description:</label>
            <input type="text" id="meta_description" name="meta_description"
              value="<%- locals.post ? locals.post.meta_description : '' %>">
          </p>

          <p>
            <label for="permalink">Meta Image URL:</label>
            <input type="text" id="meta_image_url" name="meta_image_url"
              value="<%- locals.post ? locals.post.meta_image_url : '' %>">
          </p>

          <p>
            <label for="is_page">Is Page:</label>
            <input type="checkbox" id="is_page" name="is_page" value="true" <%- (locals.post && locals.post.is_page)
              ? 'checked' : '' %>>
          </p>

          <p>
            <label for="show_in_feed">Show In Feed:</label>
            <input type="checkbox" id="show_in_feed" name="show_in_feed" value="true" <%- (locals.post &&
              !locals.post.show_in_feed) ? '' : 'checked' %>>
          </p>
          <p>
            <label for="draft">Draft:</label>
            <input type="checkbox" <%- (locals.post && !locals.post.published) ? 'checked' : '' %> 
              onChange="if(this.checked) {
                document.getElementById('published').value = 'false';
              } else {
                document.getElementById('published').value = 'true';
              }">                            
          </p>
        </details>

        <input type="hidden" name="published" id="published" value="true">

        <p>
          <button type="submit" id="idButtonPost">Post</button>
          <!-- <button type="submit" onclick="document.getElementById('published').value = true;">Post</button> -->
          <!-- <button type="submit" onclick="document.getElementById('published').value = false;">
            <%- locals.post && locals.post.published ? "Unpublish" : "Save as draft" %>
          </button> -->
        </p>
      </form>

      <% if(locals.post) { %>
        <p>
        <form method="post" action="/dashboard/posts/<%- locals.post.id %>?_method=DELETE" name="form-delete"
          id="form-delete">
          <a href="/<%- locals.post.permalink %>" target="_blank">View post</a> | 
          <a class="text-danger" href="# " onclick="return confirm( 'Are you sure you want to delete this post?') ? 
            document.getElementById('form-delete').submit() : false;">Delete</a>
        </form>
        </p>
        <% } %>

    </content>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>