<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
    <%- locals.theme.head %>
</head>

<body>
  <header>
    <%- include('partials/header'); %>
  </header>

  <content class="blog-posts">
    <article class="h-entry post-single">
      <!-- Heading -->            
        <h1 class="p-name <%- locals.post.title.length === 0 ? 'u-hidden' : '' %>">
          <%- locals.post.title %>
        </h1>        
        <a class="u-url" href="<%- locals.post.url %>/">
          <time class="dt-published" datetime="<%- locals.post.published_date.toISOString() %>">
            <%- locals.post.published_date_formatted %>
          </time>
        </a>            

        <!-- Reply -->
        <% if (locals.post.replyTo) { %>
          <p>in reply to: <a class="u-in-reply-to" href="<%- locals.post.replyTo %>"><%- locals.post.replyTo %></a></p>
        <% } %>

          <!-- Article -->
          <div class="e-content">
            <%- locals.post.content_html %>
          </div>

          <!-- Tags-->          
          <p>
            <% post.tags.split(",").forEach(tag => { %>
              <% if(tag.length > 0) { %>
                <a href="/archive/?q=<%- tag %>">
                  #<%- tag %>
                </a>&nbsp;
              <% } %>
            <% }); %>
          </p>   

          <span class="separator">
            <span class="divider"></span>
          </span>
          <!-- Conversations-->
          <div id="conversations"></div>                  

          <!-- Author h-card -->
          <%- include('partials/author') %>
          
          
    </article>
    <br><br>

    <!-- Footer -->
    <footer>
      <%- include('partials/footer'); %>
    </footer>
</body>

</html>