<!DOCTYPE html>
<html lang="<%- blog.language %>">

<% 
  const truncate = (str, len) => {
    if (str.length > len) {
      return str.substring(0, len) + '...';
    }
    return str;
  }
%>

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <content class="blog-posts">
      <h1>Blog</h1>
      <% posts.forEach(post=> { %>
        <p class="h-entry">                      
          <a class="u-url" href="/<%- post.permalink %>/">
            <time class="dt-published" datetime="<%- post.published_date %>"><%- post.published_date_formatted %></time>
          </a>                                           
          <% if(post.is_note) { %>
            <span class="p-summary"><%- truncate(post.content_text, 92) %></span>
          <% } else { %>              
            <span class="p-name"><b><%- truncate(post.title, 45) %></b></span> <span class="p-summary"><%- truncate(post.content_text, 92) %></span>
          <% } %>    
        </p>
        <% }); %>
      </content>
  </main>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>