<article class="h-entry post">
<% if(!post.is_page) { %>
  <header>
    <h1 class="p-name">
      <%- post.title %>
    </h1>    
    <time class="dt-published" datetime="<%- post.published_date %>"><%- post.published_date_formatted %></time>    
  </header>
  <% } %>
    <content class="e-content">
      <%- post.content_html %>
      <!-- <% if(post.media){ %>
        <% for(let media of post.media){ %>
          <p><img src="<%- blog.url %>/<%- media.path %>" alt="<%- media.altText %>"></p>
        <% } %>
      <% } %> -->
    </content>
    <% if(!post.is_page) { %>
      <p>
        <% post.tags.forEach(tag => { %>
          <% if(tag.length > 0) { %>
            <a href="/archive/?q=<%- tag %>">
              #<%- tag %>
            </a>
          <% } %>
        <% }); %>
      </p>
      <% } %>
</article>