<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body class="container">

  <header>
    <a class="title" href="/">
      <h1>
        <span class="title-spore">🌱</span> spore.blog |
        <%- admin_title %>
      </h1>
    </a>
    <!-- Show flash messages-->
    <% if(flash.length > 0) { %>
      <% flash.forEach(function(message) { %>
        <p class="flash-message <%- message.type %> ">
          <%= message.message %>
        </p>
        <% }); %>
          <% } %>
  </header>
  <main>
    <content>
      <form action="/admin/install" method="post">
        <p>
          <label for="title">Blog title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Blog Title" value="<%- locals.title %>" required>
        </p>
        <p>
          <label for="url">Blog URL</label>
          <input type="text" class="form-control" id="baseURL" name="baseURL" placeholder="Blog URL" value="<%- locals.baseURL %>" required>
        </p>
        <p>
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="" value="<%- locals.name %>" required>
        </p>
        <p>
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="<%- locals.email %>" required>
        </p>
        <p>
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </p>
        <p>
          <label for="password_again">Password Again</label>
          <input type="password" class="form-control" id="password_again" name="password_again" placeholder="Password Again" required>
        </p>
        <p>
          <button type="submit" class="btn btn-primary">Submit</button>
        </p>
      </form>
    </content>
  </main>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>


</body>

</html>