<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('./partials/header'); %>
  </header>
  <main>
    <content>
      <button type="button" onclick="window.location.href='/admin/pages/new'">New Page</button>
      <button type="button" onclick="window.location.href='/admin/pages/redirects/new'">New Redirect</button>      
      <h3>Pages</h3>
      <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>&nbsp;</th>
          <th>Path</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <% pages.forEach(function(page) { %>
      <tr>        
        <td colspan="2"><%= page.frontMatter.title %></td>        
        <td>/<%= page.frontMatter.slug %></td>                
        <td style="text-align:center"><a <a href="/admin/pages/<%= page.frontMatter.slug %>">Edit</a></td>
      </tr>
      <% }); %>
      </table>      
      <% if(redirects && redirects.length) { %>
      <h3>Redirects</h3>
      <table>
      <thead>
        <tr>
          <th>Path</th>
          <th>&nbsp;</th>
          <th>Redirect</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <% redirects.forEach(function(redirect) { %>
      <tr>        
        <td>/<%= redirect.frontMatter.slug %></td>        
        <td>&rarr;</td>
        <td><%= redirect.frontMatter.redirect %></td>     
        <td style="text-align:center"><a <a href="/admin/pages/redirects/<%= redirect.frontMatter.slug %>">Edit</a></td>           
      </tr>
      <% }); %>
      </table> 
      <% } %>     
    </content>
  </main>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>

</body>

</html>